<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
  </head>
  <body>
    <h1>Sign in:</h1>
    <form action="/user/sign-in" method="post">
      <label for="username-input"> Username: </label>
      <input type="text" name="username" id="username-input" />
      <br />
      <label for="email-input">Email:</label>
      <input type="email" name="email" id="email-input" />
      <br />
      <label for="password-input">Password:</label>
      <input type="password" name="password" id="password-input" />
      <br />
      <label for="confirm-password-input">Confirm password:</label>
      <input
        type="password"
        name="confirmPassword"
        id="confirm-password-input" />
      <br />
      <input type="submit" value="Sign in" />
      <a href="/">Cancel</a>
    </form>
    <%- include("../partials/formErrors") %>
  </body>
</html>
