<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File uploader</title>
  </head>
  <body>
    <h1>Welcome to our file uploader</h1>
    <p>To access files you must <a href="/user/log-in">Log in</a></p>
    <h2>You do not have an account?</h2>
    <p><a href="/user/sign-in">Create one</a> for free</p>
  </body>
</html>
