<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File uploader</title>
    <link rel="stylesheet" href="/tailwind.css" />
  </head>
  <body class="bg-neutral-950 text-neutral-50 lg:max-w-5xl lg:mx-auto">
    <%- include("partials/navbar", {links: [
      {href: "/user/log-in", text: "Log in"},
      {href: "/user/Sign-in", text: "Sign in"}
    ]}) %>
    <header class="p-5 py-20 rounded-lg">
      <section class="grid lg:grid-cols-2 lg:gap-20 lg:place-items-center">
        <div>
          <h1 class="text-4xl font-bold leading-relaxed">
            Your Files, Always Within
            <span
              class="text-transparent bg-clip-text bg-gradient-to-tr from-fuchsia-400 to-indigo-400"
            >
              Reach
            </span>
          </h1>
          <p class="leading-loose my-7 text-neutral-200">
            Stay connected to what matters most. Whether at home, in the office, or
            on the go, our cloud storage ensures your files are just a click away.
          </p>
          <a href="/user/sign-in">
            <button
              class="flex items-center px-5 py-3 rounded-full my-7 bg-gradient-to-tr from-fuchsia-500 to-indigo-400"
            >
              Get started
              <img src="/icons/arrow-up-right.svg" alt="icon arrow up right" class="ml-2">
            </button>
          </a>
        </div>
        <div class="hidden h-full lg:block">
          <img class="h-full lg:rounded-3xl" src="/img/cosmos.jpg" alt="">
        </div>
      </section>
      <section class="my-5">
        <h2 class="text-sm leading-loose text-red-600">Disclaimer</h2>
        <p class="text-xs leading-loose text-neutral-500">
          This project was made for educational purposes. In your place. I
          wouldn't put there any sensible data, beacuse you don't know day nor
          hour when this project will stop working
        </p>
      </section>
    </header>
    <main class="">
      <section class="p-5 bg-transparent">
        <h2 class="text-2xl font-thin leading-loose text-center">Why choose Reach?</h2>
        <ul class="grid gap-10 mt-10 leading-relaxed text-center text-neutral-300 lg:grid-cols-3">
          <li class="py-5">
            <img src="/icons/download.svg" class="w-12 mx-auto" alt="download icon">
            <h3 class="text-2xl leading-relaxed text-indigo-400">Effortless Accessibility</h3>
            <p class="leading-loose">
              With Reach, your files are always just a click away. 
              Access your data anytime, anywhere, on any device.
            </p>
          </li>
          <li class="py-5">
            <img src="/icons/users-profiles.svg" class="w-12 mx-auto stroke-indigo-400" alt="users profiles icon">
            <h3 class="text-2xl leading-relaxed text-indigo-400">Free. Forever</h3>
            <p class="leading-loose">
              Our service is (and always will be) free. That means 
              you can store your files as long as you want
            </p>
          </li>
          <li class="py-5">
            <img src="/icons/file-lock.svg" class="w-12 mx-auto stroke-indigo-400" alt="file lock icon">
            <h3 class="text-2xl leading-relaxed text-indigo-400">Unmatched Security</h3>
            <p class="leading-loose">
              Your data’s safety is our top priority. With advanced 
              encryption your files are protected 24/7.
            </p>
          </li>
        </ul>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
