<nav class="flex px-3 py-5">
  <span
    class="text-xl font-bold text-transparent bg-clip-text bg-gradient-to-tr from-fuchsia-400 to-indigo-400">
    Reach
  </span>
  <ul class="flex gap-5 ml-auto">
    <% links.forEach(link => { %>
    <li>
      <a href="<%= link.href %>"><%= link.text %></a>
    </li>
    <% }) %>
  </ul>
</nav>
